@middle-width: 30px; //60px
@middle-height: @middle-width * 1.7333; //104px
@border-left_right : @middle-width * 0.5; //30px
@border-top_bottom: @middle-width * 0.8666; //52px
@margint-right: -1 * @middle-width * 0.4333; //-26px
@margint-bottom: -1 * @middle-width * 0.8333; //-50px
@even-margint-top: @middle-width * 0.8833;//53px

@color-basic: #FF4E00;
@color-selected: @color-basic - #222222;
@color-neighbour: @color-basic + #222222;

.hex-row {
  clear: left;

  .even {
    margin-top: @even-margint-top;
  }

  .hex {
    float: left;
    margin-right: @margint-right;
    margin-bottom: @margint-bottom;

    .left {
      float: left;
      width: 0;
      border-right: @border-left_right solid @color-basic;
      border-top: @border-top_bottom solid transparent;
      border-bottom: @border-top_bottom solid transparent;
    }

    .middle {
      position:relative;
      float: left;
      width: @middle-width;
      height: @middle-height;
      background: @color-basic;

      .population {
          position:relative;
          display: table-cell;
          width: @middle-width;
          height: @middle-height;
          vertical-align: middle;
      }
    }

    .right {
      float: left;
      width: 0;
      border-left: @border-left_right solid @color-basic;
      border-top: @border-top_bottom solid transparent;
      border-bottom: @border-top_bottom solid transparent;
    }

    &.active{
      .left {
        border-right-color: @color-selected;
      }

      .middle {
        background: @color-selected;
      }

      .right {
        border-left-color: @color-selected;
      }
    }

    &.neighbour{
      .left {
        border-right-color: @color-neighbour;
      }

      .middle {
        background: @color-neighbour;
      }

      .right {
        border-left-color: @color-neighbour;
      }
    }

    &.empty{
      opacity: 0;
    }
  }
}

.move {
  z-index:1;
  &.bottom{
    top:1.2*@middle-width;
  }
  &.top{
    top:-@middle-width/2;
  }
  &.top-left{
    transform:rotate(-60deg);
    left:-0.4333*@middle-width;
    top:-0.0666*@middle-width;
  }

  &.top-right{
    transform:rotate(60deg);
    left:@middle-width;
    top:-0.0666*@middle-width;
  }

  &.bottom-left{
    transform:rotate(60deg);
    left:-0.4333*@middle-width;
    top:0.8333*@middle-width;
  }

  &.bottom-right{
    transform:rotate(-60deg);
    left:@middle-width;
    top:0.8333*@middle-width;
  }

  left:@middle-width/4;
  font-size:0.7em;
  position: absolute;

  width: @middle-width/2;
  height:@middle-width;
  .move-number {
    background-color: red;
    width: @middle-width/2;
    height:@middle-width/2;
  }
  .point-down{
    border: @middle-width/4 solid red;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0; height: 0;
  }
  .point-up{
    border: @middle-width/4 solid red;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    width: 0; height: 0;
  }
}
