
.hex-color(@color-basic) {
  @color-selected: @color-basic - #222222;
  @color-neighbour: @color-basic + #222222;
  color: #F4F4F4;

  .left {
      border-right-color: @color-basic;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
    .middle {
      background: @color-basic;
      .move {
        .move-number {
          background-color: @color-selected;
        }
        .point-down{
          border-color: transparent;
          border-top-color: @color-selected;
        }
        .point-up{
          border-color: transparent;
          border-bottom-color: @color-selected;
        }
      }
    }
    .right {
      border-left-color: @color-basic;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
    &.active{
      .left {
        border-right-color: @color-selected;
      }
      .middle {
        background: @color-selected;
      }
      .right {
        border-left-color: @color-selected;
      }
    }
    &.neighbour{
      .left {
        border-right-color: @color-neighbour;
      }
      .middle {
        background: @color-neighbour;
      }
      .right {
        border-left-color: @color-neighbour;
      }
    }
}

.hex-size (@middle-width) {
  @middle-height: @middle-width * 1.7333; //104px
  @border-left_right : @middle-width * 0.5; //30px
  @border-top_bottom: @middle-width * 0.8666; //52px
  @margint-right: -1 * @middle-width * 0.4333; //-26px
  @margint-bottom: -1 * @middle-width * 0.8333; //-50px
  @even-margint-top: @middle-width * 0.8833;//53px

  .hex-row {
    clear: left;
    .even {
      margin-top: @even-margint-top;
    }

    .hex {
      font-size: @middle-width/2;
      float: left;
      margin-right: @margint-right;
      margin-bottom: @margint-bottom;

      .left {
        float: left;
        width: 0;
        border-right: @border-left_right solid;
        border-top: @border-top_bottom solid;
        border-bottom: @border-top_bottom solid;
      }

      .middle {
        position:relative;
        float: left;
        width: @middle-width;
        height: @middle-height;

        .population {
            position:relative;
            display: table-cell;
            width: @middle-width;
            height: @middle-height;
            vertical-align: middle;
        }
        .move {
          z-index:1;
          &.bottom{
            top:1.2*@middle-width;
          }
          &.top{
            top:-@middle-width/2;
          }
          &.top-left{
            transform:rotate(-60deg);
            left:-0.4333*@middle-width;
            top:-0.0666*@middle-width;
          }

          &.top-right{
            transform:rotate(60deg);
            left:@middle-width;
            top:-0.0666*@middle-width;
          }

          &.bottom-left{
            transform:rotate(60deg);
            left:-0.4333*@middle-width;
            top:0.8333*@middle-width;
          }

          &.bottom-right{
            transform:rotate(-60deg);
            left:@middle-width;
            top:0.8333*@middle-width;
          }

          left:@middle-width/4;
          font-size:0.7em;
          position: absolute;

          width: @middle-width/2;
          height:@middle-width;
          .move-number {
            width: @middle-width/2;
            height:@middle-width/2;
          }
          .point-down{
            border: @middle-width/4 solid;
            width: 0; height: 0;
          }
          .point-up{
            border: @middle-width/4 solid;
            width: 0; height: 0;
          }
        }
      }

      .right {
        float: left;
        width: 0;
        border-left: @border-left_right solid;
        border-top: @border-top_bottom solid;
        border-bottom: @border-top_bottom solid;
      }
    }
  }
}



#board {

  .hex_size_xs{
    .hex-size (20px);
  }

  .hex_size_sm{
    .hex-size (25px);
  }

  .hex_size_md{
    .hex-size (35px);
  }

  .hex_size_lg{
    .hex-size (50px);
  }

  .hex-row {
    .hex {
      &.natural{
        .hex-color(#858585);
      }
      &.player1{
        .hex-color(#FF4E00);
      }
      &.player2{
        .hex-color(#5F9B0A);
      }
      &.player3{
        .hex-color(#00AACC);
      }
      &.player4{
        .hex-color(#B90000);
      }
      &.empty{
        opacity: 0;
      }  
    }
  }
}

