<div class="hex" ng-class="marker">
    <div class="left"></div>
    <div class="middle text-center">

        <div class="move top-left" ng-hide="move-top-left === 0" >
            <div class="point-up"></div>
            <div class="move-number">{{move-top-left}}</div>
        </div>

        <div class="move top" ng-hide="move-top === 0" >
            <div class="point-up"></div>
            <div class="move-number">{{move-top}}</div>
        </div>

        <div class="move top-right" ng-hide="move-top-right === 0" >
            <div class="point-up"></div>
            <div class="move-number">{{move-top-right}}</div>
        </div>

        <div class="population">{{population}}</div>

        <div class="move bottom-left" ng-hide="move-bottom-left === 0" >
          <div class="move-number">{{move-bottom-left}}</div>
          <div class="point-down"></div>
        </div>

        <div class="move bottom" ng-hide="move-bottom === 0" >
          <div class="move-number">{{move-bottom}}</div>
          <div class="point-down"></div>
        </div>

        <div class="move bottom-right" ng-hide="move-bottom-right === 0" >
          <div class="move-number">{{move-bottom-right}}</div>
          <div class="point-down"></div>
        </div>

    </div>
    <div class="right"></div>
</div>
