<div class="container">
    <div ng-controller="NewGameController">
        <form class="form-horizontal" role="form">


              <div class="form-group">
                <label for="selectmap" class="col-xs-2 control-label">Map</label>
                <div class="col-xs-10">
                              <select id="selectmap" class="form-control" ng-model="gameModel.map" ng-options="map.name group by map.maxPlayerLabel for map in maps">
  </select>
                </div>
              </div>

            <span ng-repeat="idx in [1,2,3,4]">
            <fieldset ng-disabled="gameModel.map.maxPlayer < idx">
                <div class="form-group">
                      <label for="player{{idx}}" class="col-xs-2 control-label">Player&nbsp;{{idx}}</label>
                      <div class="col-xs-10 row">
                        <div class= "col-xs-12 col-md-4">
                            <div class="btn-group-justified visible-md visible-lg" ng-init="gameModel[idx].type = (idx === 1 ? 'player' : 'ai' )">
                                <label class="btn btn-default" ng-model="gameModel[idx].type" btn-radio="'none'">None</label>
                                <label class="btn btn-default" ng-model="gameModel[idx].type" btn-radio="'player'">Player</label>
                                <label class="btn btn-default" ng-model="gameModel[idx].type" btn-radio="'ai'">AI</label>
                            </div>

                            <div class="btn-group-justified visible-xs visible-sm" ng-init="gameModel[idx].type = (idx === 1 ? 'player' : 'ai' )">
                                <label class="btn btn-default btn-sm" ng-model="gameModel[idx].type" btn-radio="'none'">None</label>
                                <label class="btn btn-default btn-sm" ng-model="gameModel[idx].type" btn-radio="'player'">Player</label>
                                <label class="btn btn-default btn-sm" ng-model="gameModel[idx].type" btn-radio="'ai'">AI</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <input id="player{{idx}}" ng-disabled="gameModel[idx].type === 'none'" class="form-control" type="text" ng-init="gameModel[idx].name = 'Player '+idx" ng-model="gameModel[idx].name" >
                        </div>
                    </div>
                </div>
            </fieldset>
            </span>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <a type="button" class="btn btn-default btn-block btn-success" ng-click="newGame()">Start New Game</a>
                </div>
            </div>
        </form>
    </div>
</div>
