
<div class="row">
    <div class="col-xs-8">
        <div id="board">
            <hexfield/>
        </div>
    </div>
    <div class="col-xs-4">Control area
        <div ng-controller="MoveController">
        <div class="row">
            <div class="col-xs 12">
                <div class="row">
                    <div class="col-xs-2">From:</div>
                    <div class="col-xs-10">{{from}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-xs-2">to:</div>
                <div class="col-xs-10">{{to}}</div>
            </div>
        </div>
    </div>
</div>
