<!-- BANNER -->
<div class="jumbotron">
    <div class="container text-center">
        <h1>Hex War</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quasi nihil molestias nisi, expedita ducimus vitae similique quas, at autem.</p>

        <div class="btn-group btn-group-justified">
            <a href="#game" class="btn btn-lg btn-success">New Game</a>
            <a href="#" class="btn btn-lg btn-default">Rules</a>
        </div> <!-- end btn-group -->
    </div> <!-- end container -->
</div> <!-- end jumbotron -->
