<!-- FEATURES -->
<section>
  <div class="page-header" id="section-features">
    <h2>Features. <small>What it's all about.</small></h2>
  </div> <!-- end page-header -->

  <div class="row">
    <div class="col-sm-8">
      <h3>This is a feature title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolorem debitis laboriosam fuga repellat impedit consequuntur ipsam inventore voluptas iure.</p>
    </div>
    <div class="col-sm-4">
      <img src="images/feature-1.jpg" alt="Feature image" class="img-responsive">
    </div>
  </div> <!-- end row -->

  <div class="row">
    <div class="col-sm-8">
      <h3>This is a feature title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolorem debitis laboriosam fuga repellat impedit consequuntur ipsam inventore voluptas iure.</p>
    </div>
    <div class="col-sm-4">
      <img src="images/feature-2.jpg" alt="Feature image" class="img-responsive">
    </div>
  </div> <!-- end row -->

  <div class="row">
    <div class="col-sm-8">
      <h3>This is a feature title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolorem debitis laboriosam fuga repellat impedit consequuntur ipsam inventore voluptas iure.</p>
    </div>
    <div class="col-sm-4">
      <img src="images/feature-3.jpg" alt="Feature image" class="img-responsive">
    </div>
  </div> <!-- end row -->
</section>
