<div class="hex" ng-click="select(field)" ng-class="[marker, field.owner, even]" >
    <div class="left"></div>
    <div class="middle text-center">

        <div class="move top-left" ng-show="field.topLeft > 0" >
            <div class="point-up"></div>
            <div class="move-number">{{field.topLeft}}</div>
        </div>

        <div class="move top" ng-show="field.top > 0" >
            <div class="point-up"></div>
            <div class="move-number">{{field.top}}</div>
        </div>

        <div class="move top-right" ng-show="field.topRight > 0" >
            <div class="point-up"></div>
            <div class="move-number">{{field.topRight}}</div>
        </div>

        <div class="population">{{field.population}}</div>

        <div class="move bottom-left" ng-show="field.bottomLeft > 0" >
          <div class="move-number">{{field.bottomLeft}}</div>
          <div class="point-down"></div>
        </div>

        <div class="move bottom" ng-show="field.bottom > 0" >
          <div class="move-number">{{field.bottom}}</div>
          <div class="point-down"></div>
        </div>

        <div class="move bottom-right" ng-show="field.bottomRight > 0" >
          <div class="move-number">{{field.bottomRight}}</div>
          <div class="point-down"></div>
        </div>

    </div>
    <div class="right"></div>
</div>
